:root {
  --basic: #fff;
  --primary-light: #FFDCD4;
  --primary-dark: #E7AFA3;
  --secondary: #2F4456;    
  --dark: black;
}


/* website */

@media (min-width: 500px) {

body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: var(--basic);
  overflow: hidden;
}
.container {
  position: relative;
  width: 600px;
  margin: auto;
  height: 320px;
  background-color: var(--basic);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
  top: 50%;
  margin-top: -160px;
}

/* info */
.container-info {
  overflow: hidden;
  position: absolute;
  /* left: 30px; */
  top: -30px;
  left: 300px;
  width: 300px;
  height: 380px;
  background-color: var(--primary-light);

  transition: all 0.2s;
}

.info-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;

  transition: all 0.1s;
}

.sign-up {
  opacity: 1;
  transition: 0.3s;
  transition-delay: 0.05s;
}
.log-in {
  right: 100%;
  opacity: 0;
  background-color: var(--secondary);
  color: var(--primary-light);
}

.container.sign-up .container-info { 
  left: 0;
}
.container.sign-up .container-info .info-item.log-in {
  left: 0;
  opacity: 1;
}
.container.sign-up .container-info .info-item.sign-up {
  right: 0;
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.05s;
}

/* form */
.container-form {
  font-size: 0;
  background-color: var(--basic);
}
.form-item {
  text-align: center;
  font-size: 16px;
  width: 300px;
  height: 320px;
  display: inline-block;
  vertical-align: top;
  opacity: 1;
}
.table {
  display: table;
  width: 100%;
  height: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* hide mobile attributes */
.container-form .form-item .info-item {
  display: none;
}

/* form: elements */
.heading {
  text-align: center;
  padding-top: 10px;
  height: 40px;
}

.form {
  height: 140px;
}

.form, .swap {
  font-size: 13px;
  padding: 30px;
  text-align: left;
}  

input, .btn {
  padding: 5px 12px;
  cursor: pointer;
}
input {
  margin: 0 auto 10px;
  display: block;
  width: 210px;
}

.btn {
  text-align: center;
  border-radius: 18px;
  border: none;
  color: var(--basic);
}
.login .btn {
  background-color: var(--primary-dark);
}
.register .btn {
  background-color: var(--secondary);
}

.swap {
  background-color: transparent;
  text-decoration-line: underline;
  text-align: right;
  cursor: pointer;
}
.login .swap:hover {
  color: var(--primary-light);
}
.register .swap:hover {
  color: var(--secondary);
  opacity: 0.6;
}

#icon {
  display: none;
}

}

/* mobile */

@media (max-width: 500px) {

#icon {
  position: absolute;
  top: 258px;
  right: 33px;
  width: 24px;
  height: 24px;
}

.container {
  width: 300px;
  height: 480px;
  top: 35%;
}
.container-info {
  display: none;
  transition: all 0.2s;
}

.container-form .form-item .info-item {
  display: block;
  position: static;
  left: 0;
  top: 0px;
  width: 100%;
  height: 50%;
  opacity: 1;

  transition: all 0.1s;
  
  justify-content: left;
  font-size: 90%;
}
.table-cell {
  text-align: left;
  padding-left: 30px;
}

/* style */
.info-item.log-in {
  background-color: var(--primary-light);
  color: var(--dark);
}
.info-item.sign-up {
  background-color: var(--secondary);
  color: var(--primary-dark);
  opacity: 0.9;
}

/* initial */
/* .form-item.register { */
.form-item.login {
  display: none;
}

/* transition */
/* .container.sign-up .form-item.login {  */
.container.sign-up .form-item.register {
  display: none;
  /* animation-name: slide;
  animation-duration: 0.2s;
  animation-direction: reverse; */
  /* animation: slide 0.2s; */
}
/* .container.sign-up .form-item.register { */
.container.sign-up .form-item.login { 
  display: block;
  /* animation: slide 0.2s; */
}
/* 
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
} */


}