/* DEFAULT: COMPUTER */

:root {
  --basic: #fff;
  --primary-light: #FFDCD4;
  --primary-dark: #E7AFA3;
  --secondary: #2F4456;    
  --dark: black;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--basic);
  font-family: sans-serif;
  overflow: hidden;
}
.container {
  position: relative;
  margin: auto;
  background-color: var(--basic);

  /* changed for mobile */
  width: 600px;
  height: 320px;
  top: 50%;
  margin-top: -160px; 
}
.container-form .form-item .info-item, .blank {
  display: none;
}
/* info (hidden for mobile) */
.container-info {
  overflow: hidden;
  position: absolute;
  top: -30px;
  left: 300px;
  width: 300px;
  height: 380px;
  background-color: var(--primary-light);
  transition: all 0.2s;
}
.info-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.1s;
}
.sign-up {
  opacity: 1;
  transition: 0.3s;
  transition-delay: 0.05s;
}
.log-in {
  right: 100%;
  opacity: 0;
  background-color: var(--secondary);
  color: var(--primary-light);
}
.container.sign-up .container-info { 
  left: 0;
}
.container.sign-up .container-info .info-item.log-in {
  left: 0;
  opacity: 1;
}
.container.sign-up .container-info .info-item.sign-up {
  right: 0;
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.05s;
}

/* form */
.container-form {
  font-size: 0;
  background-color: var(--basic);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.form-item {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  font-size: 16px;
  background-color: var(--basic);
  opacity: 1;
}
.table {
  display: table;
  width: 100%;
  height: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* form: elements */
.heading {
  text-align: center;
  padding-top: 10px;
  height: 40px;
}

.form {
  height: 140px;
}

.form, .swap {
  font-size: 13px;
  padding: 30px;
  text-align: left;
}  

input, .btn {
  padding: 5px 12px;
  cursor: pointer;
}
input {
  margin: 0 auto 10px;
  display: block;
  width: 210px;
}
#icon {
  display: none;
}

.btn {
  text-align: center;
  border: none;
  border-radius: 18px;
  color: var(--basic);
}
.login .btn {
  background-color: var(--primary-dark);
}
.register .btn {
  background-color: var(--secondary);
}

.swap {
  background-color: transparent;
  text-decoration-line: underline;
  text-align: right;
  cursor: pointer;
}
.login .swap:hover {
  color: var(--primary-light);
}
.register .swap:hover {
  color: var(--secondary);
  opacity: 0.6;
}


/* MOBILE RESPONSIVE  */

@media (max-width: 700px) {

body {
  overflow: auto;
}

.container {
  width: auto;
  height: auto;  
  top: auto;
  margin-top: 40px;
  left: -84%;
}
/* for iPh X */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (orientation : portrait) { 
  .container {
  left: -91.5%;
  }
}
/* for Pixel & iPhone 6/7/8 Plus*/
@media only screen and (min-device-width : 411px) and (max-device-width : 736px) and (orientation : portrait) { 
  .container {
  left: -76%;
  }
}
 
.container-form .form-item .info-item {
  display: inline-block;
  position: static;
  left: 0;
  top: 0;
  width: 337px;
  height: 50%;
  opacity: 1;
  justify-content: left;
  font-size: 90%;
}
.container-info {
  display: none;
}

.container-form {
  width: 300%;
  box-shadow: none;
}
.form-item {
  width: auto;
}
.table-cell {
  text-align: left;
  padding: 10px 30px;
}

/* form: elements */
.heading {
  text-align: left;
  padding-left: 30px;
}
input {
  width: 246px;
} 
#icon {
  display: initial;
  position: absolute;
  top: 243px;
  left: 280px;
  height: 24px;
}

/* style */
.info-item.log-in {
  background-color: var(--primary-light);
  color: var(--dark);
  transition: all 0.02s;
}
.info-item.sign-up {
  background-color: var(--secondary);
  color: var(--primary-dark);
  opacity: 0.9;
  transition: all 0.02s;
}


/* transition */
.container .container-form {
  transform: translateX(0);
  transition: all 0.1s;
}
.container .container-form .form-item.register {
  visibility: visible;
  transition: all 0.02s;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.container .container-form .form-item.login {
  visibility: hidden;
  transition: all 0.02s;
}

.container.sign-up .container-form {
  transform: translateX(340px);
  transition: all 0.1s;
}
.container.sign-up .container-form .form-item.login {
  visibility: visible;
  transition: all 0.02s;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.container.sign-up .container-form .form-item.register {
  visibility: hidden;
  transition: all 0.02s;
}

.form-item.blank {
  visibility: hidden;
  transition: all 0.02s;
}

.container .container-form .form-item.login .info-item {
  visibility: hidden;
}
.container.sign-up .container-form .form-item.login .info-item {
  visibility: visible;
}


}
